<!--{template common/header}-->
<link rel="stylesheet" type="text/css" href="template/yunzhan_qy/style/css/css.css">
<link rel="stylesheet" type="text/css" href="template/yunzhan_qy/style/css/swiper.min.css">

<style id="diy_style" type="text/css"></style>





</div>


<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->



<!--content begain-->


<div class="content_box">
		<div class="content">
<!--banner-->	
				<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
				
				<script src="template/yunzhan_qy/style/js/swiper.min.js" type="text/javascript"></script>
				<script>
					var swiper = new Swiper('.swiper-container', {
//					  autoplay:true,
					  slidesPerView: 1,
					  spaceBetween: 30,
					  loop: true,
					  pagination: {
						el: '.swiper-pagination',
						clickable: true,
					  },
					  navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					  },
					});
				</script>
				
				<div class="first_floor">
						<div class="plan">
							<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
						</div>
				</div>
				
				<div class="display_box">
					<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
				</div>
				
				<div class="third_floor">
						<div class="container">
								<!--[diy=diy5]--><div id="diy5" class="area"></div><!--[/diy]-->
						</div>
				</div>
				
		</div>
</div>

			

<!--content end-->




<!--{template common/footer}-->



